In [1]:
students = ['ravi','sam','vivek','ejaj','rahul','ram']
print(students)

['ravi', 'sam', 'vivek', 'ejaj', 'rahul', 'ram']

In [2]:
for a in students:
    print(a)

ravi
sam
vivek
ejaj
rahul
ram

In [5]:
for z in students:
    print(f"appreciate your work {z}")

appreciate your work ravi
appreciate your work sam
appreciate your work vivek
appreciate your work ejaj
appreciate your work rahul
appreciate your work ram

In [7]:
for z in students:
    print(f"appreciate your work {z}")
    print(f"see you soon {z}. \n")

appreciate your work ravi
see you soon ravi.

appreciate your work sam
see you soon sam.

appreciate your work vivek
see you soon vivek.

appreciate your work ejaj
see you soon ejaj.

appreciate your work rahul
see you soon rahul.

appreciate your work ram
see you soon ram.

In [9]:
for z in students:
    print(f"appreciate your work {z}")
    print(f"see you soon {z}. \n")
print("Thank you")

appreciate your work ravi
see you soon ravi.

appreciate your work sam
see you soon sam.

appreciate your work vivek
see you soon vivek.

appreciate your work ejaj
see you soon ejaj.

appreciate your work rahul
see you soon rahul.

appreciate your work ram
see you soon ram.

Thank you

In [10]:
for a in range(1,31):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [13]:
#   list range

b = list(range(1,11))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# first 5  even number using list
for a in range(2,11,2):
    print(a)

2
4
6
8
10

In [17]:
# first 5  even number using for

c = list(range(2,11,2))
print(c)

[2, 4, 6, 8, 10]